:root {
  --header-background: #4f5a27;
  --left-sider-part1-background: #68933b;
  --left-sider-part2-background: #948b76;
  --content-background: #fce0a7;
  --right-sider-background: #f5d36a;
  --footer-background: #ccc86f;
  --button-gradient-left: #efb90c;
  --button-gradient-right: #fad93a;
}
