:root {
  --header-background: #27395a;
  --left-sider-part1-background: #3b6293;
  --left-sider-part2-background: #767a94;
  --content-background: #a7cdfc;
  --right-sider-background: #6aa8f5;
  --footer-background: #6f98cc;
  --button-gradient-left: #0c5cef;
  --button-gradient-right: #3a99fa;
}
