html,
body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
}

.section {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.content {
  margin: 10px 10px;
  flex-basis: 50%;
  flex-grow: 1;
}

.sider {
  margin: 10px 0;
  flex-basis: 18%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.part {
  flex-basis: 50%;
}

.part:first-child {
  padding: 0 0 10px 0;
}
